<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSfbU9Yl-OxKho7hd9z3UL3aGq2F9xjqk</string>
	<key>GCM_SENDER_ID</key>
	<string>817583103540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thanes.tempNoti.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>smtemp-f7de5</string>
	<key>STORAGE_BUCKET</key>
	<string>smtemp-f7de5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817583103540:ios:cd2214419fa6b3e1ca7461</string>
</dict>
</plist>